<div class='page page--gray page--login'>
  <header class='header'>
    <div class='container'>
      <div class='header__wrapper'>
        <div class='header__left'>
          <a class='header__logo-link' [routerLink]='["/"]'>
            <img class='header__logo' ngSrc='assets/img/logo.svg' alt='6 cities logo' width='81' height='41'>
          </a>
        </div>
      </div>
    </div>
  </header>

  <main class='page__main page__main--login'>
    <div class='page__login-container container'>
      <section class='login'>
        <h1 class='login__title'>Sign in</h1>
        <form [formGroup]='form' class='login__form form' (submit)='handleSubmit()'>
          <div class='login__input-wrapper form__input-wrapper group'>
            <label class='visually-hidden'>E-mail</label>
            <input
              class='login__input form__input'
              [class.warning]='form.controls.email.invalid && form.controls.email.touched'
              type='email'
              placeholder='Email'
              formControlName='email'>
            <div class='error' *ngIf='form.controls.email.invalid && form.controls.email.touched'>
              Введите корректный емайл
            </div>
          </div>
          <div class='login__input-wrapper form__input-wrapper group'>
            <label class='visually-hidden'>Password</label>
            <input
              class='login__input form__input'
              [class.warning]='form.controls.password.invalid && form.controls.password.touched'
              type='password'
              placeholder='Password'
              formControlName='password'>
            <div class='error' *ngIf='form.controls.password.invalid && form.controls.password.touched'>
              Пароль мин 3 символа
            </div>
          </div>
          <button class='login__submit form__submit button' type='submit'>Sign in</button>
        </form>
      </section>
      <section class='locations locations--login locations--current'>
      </section>
    </div>
  </main>
</div>
